<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jeu{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" />
    </head>

    <body>

        {# NAVBAR #}
        <nav class="nav navbar-default navbar-fixed-top">
             <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><img class="profil" src="{{ asset('assets/img/profil.png') }}"/></li>
                    <li><a class="nom_joueur" href="#">{% block menu_pseudo %}{% endblock %}</a></li>
                </ul>
                <div class="nav navbar-right">
                    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   <span class="glyphicon glyphicon-menu-hamburger"></span>

  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="http://149.91.88.165/jeu/profile/">Mon profil</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="http://149.91.88.165/jeu/logout/">Deconnexion</a></li>
  </ul>
</div>
          </div>
                    
                </div>
            </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        {% block sidebar %}{% endblock %}

        {% block script %}{% endblock %}



    </body>
</html>
